@charset "utf-8";
@use '../global' as *;
@use 'sass:math';
@use 'sass:color';
//
// ベース用CSS
//
// ==========================================================================
// リセット追加
// ==========================================================================
:root {
  --vw: 1vw;
}
* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
main {
  display: block;
}
hr {
  display: block;
  margin: 1em 0;
  border: 0;
  padding: 0;
  height: 1px;
  border-top: 1px solid #cccccc;
}
// ==========================================================================
// フォームリセット
// ==========================================================================
button {
  cursor: pointer;
}
button,
fieldset,
form,
input,
label,
legend,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
input,
textarea {
  max-width: 100%;
}
input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  cursor: pointer;
}
// ==========================================================================
// ベース
// ==========================================================================
html {
  font-size: 10px;
  @include breakPoint_over-PC {
    overflow-x: auto;
  }
}
body {
  position: relative;
  z-index: 0;
  background: $color-secondary;
  @include font_sansSerif-ja();
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  color: $color-text;
  word-wrap: break-word;
  overflow-wrap: break-word;
  @include breakPoint_over-PC {
    min-width: 1280px;
  }
  &._contentFixed {
    position: fixed;
    width: 100%;
    height: 100%;
    @include breakPoint_over-PC {
      position: relative;
      width: auto;
      height: auto;
    }
  }
}
a {
  margin: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  color: $color-link;
  text-decoration: underline;
  vertical-align: baseline;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  &[href^='tel:'] {
    @include breakPoint_over-PC {
      display: inline-block; // IE,Edgeバグ用
      color: inherit;
      text-decoration: inherit;
      pointer-events: none;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
sup,
sub {
  font-size: 78%;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
// プレースホルダー色定義
:placeholder-shown {
  color: $color-gray-text;
}
::-webkit-input-placeholder {
  color: $color-gray-text;
  opacity: 1;
}
:-moz-placeholder {
  color: $color-gray-text;
}
::-moz-placeholder {
  color: $color-gray-text;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $color-gray-text;
}
/// ChromeやSafariで検索フォームの右側にある☓ボタン削除
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
// ==========================================================================
// ClearFix
// ==========================================================================
.clearFix {
  @include clearFix;
}
// ==========================================================================
// 文字サイズ
// ==========================================================================
._font-sizeS {
  @include breakPoint_over-PC {
    font-size: 1.2rem;
  }
}
._font-sizeM {
  @include breakPoint_over-PC {
    font-size: 1.4rem;
  }
}
._font-sizeL {
  @include breakPoint_over-PC {
    font-size: 1.8rem;
  }
}
// ==========================================================================
// 装飾クラス
// ==========================================================================
._hide {
  display: none !important;
}
._align-right {
  text-align: right !important;
}
._align-left {
  text-align: left !important;
}
._align-center {
  text-align: center !important;
}
._indent {
  text-indent: 1rem !important;
}
._block-right {
  margin-right: 0 !important;
  margin-left: auto !important;
}
._block-center {
  margin-right: auto !important;
  margin-left: auto !important;
}
._block-left {
  margin-right: auto !important;
  margin-left: 0 !important;
}
._font-normal {
  font-weight: normal !important;
}
._font-bold {
  font-weight: bold !important;
}
._text-italic {
  font-style: italic !important;
}
._text-underline {
  text-decoration: underline !important;
}
._text-blink {
  text-decoration: blink !important;
}
._text-line_through {
  text-decoration: line-through !important;
}
// ==========================================================================
// 表示切り替え
// ==========================================================================
/// SP以下のみ表示
._only-SP {
  @include breakPoint_over-PC {
    display: none !important;
  }
}
/// TB以下のみ表示
._under-TB {
  @include breakPoint_over-PC {
    display: none !important;
  }
}
/// TB以上のみ表示
._over-TB {
  display: none !important;
  @include breakPoint_over-PC {
    display: block !important;
  }
}
/// PC以上のみ表示
._over-PC {
  display: none !important;
  @include breakPoint_over-PC {
    display: block !important;
  }
}
