### SublimeText ###
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPrefe
*.sublime-project

# SFTP configuration file
sftp-config.json
# Windows shortcuts
*.lnk

#/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
#/index.php

### node_modules ###
node_modules/
### Database ###
#db_data/
db_data/mysql.sock
### WordPress Core ###
wp-admin/
wp-includes/
wp-config.php
wp/*.php
wp/**/*.txt
wp/**/*.html
wp/.htaccess

### WordPress Content ###
/**/wp-content/advanced-cache.php
/**/wp-content/backup-db/
/**/wp-content/backups/
/**/wp-content/blogs.dir/
/**/wp-content/cache/
/**/wp-content/upgrade/
#/**/wp-content/uploads/
/**/wp-content/mu-plugins/
/**/wp-content/wp-cache-config.php
/**/wp-content/plugins/hello.php
/**/wp-content/db.php
/**/wp-content/autoptimize_404_handler.php
/**/wp-content/index.php
/**/wp-content/ai1wm-backups/
/**/wp-content/ewww/
/**/wp-content/intuitive-custom-post-order/
#/**/wp-content/languages/
#/**/wp-content/plugins/
/**/wp-content/plugins/akismet/
/**/wp-content/plugins/instagram-feed/
/**/wp-content/plugins/duplicate-post/
/**/wp-content/plugins/ewww-image-optimizer/
/**/wp-content/plugins/all-in-one-wp-migration/
/**/wp-content/upgrade-temp-backup/
/**/wp-content/themes/**/images/dev/
/**/wp-content/themes/**/images_orignal/*
/**/wp-content/themes/**/images_orignal/**/*
/**/wp-content/themes/twenty*/
/**/wp-content/themes/index.php
#twentytenのみ追跡
!/**/wp-content/themes/twentyten*/ 
### WordPress Backup and Cache ###
/**/wp-content/backupwordpress-*/
/**/wp-content/uploads/backups/
/**/wp-content/cache/supercache/
/**/wp-content/wflogs/
/**/wp-content/languages/wpml/
/**/wp-content/uploads/backupbuddy_backups/
/**/wp-content/uploads/sb-instagram-feed-images/
/**/wp-content/updraft/
### Others ###
*.log
*.swo
*.original
*.save
*.sql
*.sqlite
bower_components/
vendor/
*.lock
.env
.env.*
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.local/
.wpengine/