@charset "utf-8";
@use '../global' as *;
@use 'sass:math';
@use 'sass:color';
//
// レイアウト用CSS
// サイト全体で使用するヘッダーやフッターなど、大枠の要素を記述
//
// ==========================================================================
// ブロックエディタ用
// ==========================================================================
.global_contents {
  .block-editor_wrap {
    @include wp-block-include;
  }
}

// ==========================================================================
// サイト共通ヘッダー
// ==========================================================================
.headerNavigation {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  @include breakPoint_over-TB {
    min-width: 1280px;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
.global_header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: $header_height-SP;
  background-color: $color-secondary;
  transition: height $transition-duration;
  @include breakPoint_over-PC {
    height: $header_height-PC;
  }
  body._fixed &,
  body._contentFixed & {
  }
  .inner {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: inherit;
    @include breakPoint_over-PC {
      padding-left: 60px;
    }
  }
  .gh_logo {
    a {
      display: block;
      color: $color-text;
      text-decoration: none;
      @include hover-opacity;
      img {
        width: 140px;
        @include breakPoint_over-PC {
          width: 223px;
        }
      }
    }
  }
  .gh_menu {
    position: absolute;
    right: 0;
    top: 0;
    @extend %module_button-menu;
  }
}
// ==========================================================================
// サイト共通ナビゲーション
// ==========================================================================
.global_navigation {
  position: fixed;
  left: 0;
  top: $header_height-SP;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: $color-secondary;
  transition: $transition-duration;
  padding: 0 20px 0;

  @include breakPoint_over-PC {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    overflow: visible;
    padding-left: 0;
    padding-right: 298px;
    width: 100%;
    height: $header_height-PC;
    background-color: $color-secondary;
    transition: none;
  }
  body._open-menu & {
    overflow-y: auto;
    padding: 0 20px 70px;
    height: calc(100% - #{$header_height-SP});
  }
  a {
    text-decoration: none;
    transition: $transition-duration;
  }
  > .inner {
    padding: 0 20px;
    @include breakPoint_over-PC {
      padding: 0;
    }
  }
  .gn_links-01 {
    margin-top: 20px;
    @include breakPoint_over-PC {
      order: 2;
      display: flex;
      flex-flow: wrap;
      height: 66px;
      gap: 0 30px;
      pointer-events: auto;
      margin: 0;
    }
    ///////////// 共通
    ///////////// 全階層に影響あり
    li {
      @include breakPoint_over-PC {
        border-bottom: none;
      }
      &._sub{
        @include breakPoint_over-PC {
          display: none;
        }
      }
      [class*='gnl_title'] {
        @include breakPoint_over-PC {
          padding: 0;
        }
        &::after {
          @include breakPoint_over-PC {
            content: none;
          }
        }
        &._open {
        }
      }
      [class*='gnl_button'] {
        @include breakPoint_over-PC {
          display: none;
        }
        &::before,
        &::after {
        }
        &::after {
        }
        span {
        }
        & + a {
          @include breakPoint_over-PC {
            width: 100%;
          }
          &::after {
          }
        }
        &._open {
          &::after {
          }
        }
      }
      ///////////// 全階層に影響あり
      ///////////// 3階層以降に影響あり
      [class*='gnl_wrapper'] {
        @include breakPoint_over-PC {
          display: block;
          position: absolute;
          left: 0;
          top: $header_height-PC;
          width: 100%;
          height: 0;
          visibility: hidden;
          pointer-events: all;
          background-color: #F6F7FB;
        }
        [class*='gnl_inner'] {
          ul {
            @include breakPoint_over-PC {
              border-top: none;
            }
            li {
              [class*='gnl_title'] {
                &::before {
                }
                &::after {
                }
              }
              [class*='gnl_button'] {
                span {
                } // span
                & + a {
                  &::after {
                  }
                }
              }
            }
          }
        }
      }
      ///////////// 3階層以降に影響あり
    }
    ///////////// 共通
    ///////////// 階層別
    > li {
      & + li {
        @include breakPoint_over-PC {
        }
      }
      > .gnl_title{
        @include breakPoint_over-PC {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          background-color: transparent;
        }
        &:hover{
          @include breakPoint_over-PC {
            color: #3C6FAC;
            .en{
              color: $color-text;
            }
          }
        }
        &::before{
          @include breakPoint_over-PC {
            content: none;
          }
        }
        .en{
          display: none;
          @include breakPoint_over-PC {
            display: inline;
            font-family: Marcellus;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.6px;
          }
        }
      }
      ///////////// 3階層
      > .gnl_wrapper {
        > .gnl_inner {
          @include breakPoint_over-PC {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
          }
          > .gnl_title {
            display: none;
            @include breakPoint_over-PC {
              display: block;
              width: 360px;
              min-height: 168px;
              background-color: #3C6FAC;
              color: $color-secondary;
            }
            a{
              @include breakPoint_over-PC {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-flow: column;
                width: 100%;
                height: 100%;
                color: $color-secondary;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 2.2px;
              }
              .en{
                @include breakPoint_over-PC {
                  margin-top: 10px;
                  font-family: Marcellus;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  letter-spacing: 0.7px;
                }
              }
              .icon{
                display: none;
                @include breakPoint_over-PC {
                  display: flex;
                  gap: 3px;
                  margin-top: 20px;
                }
              }
            }
          }
          > ul {
            @include breakPoint_over-PC {
              display: flex;
              flex-wrap: wrap;
              gap: 30px 60px;
              width: calc(100% - 360px);
              padding: 60px;
            }
            > li {
              @include breakPoint_over-PC {
                border-bottom: none;
              }
              .gnl_title {
                @include breakPoint_over-PC {
                  min-height: auto;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  letter-spacing: 0.8px;
                  padding-left: 13px;
                }
                &:hover{
                  color: #3C6FAC;
                }
                &::before{
                  @include breakPoint_over-PC{
                    @include icon-star;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                  }
                }
                &::after {
                }
              }
              .gnl_button {
                span {
                }
                & + a {
                  &::after {
                  }
                }
              }
              > .gnl_wrapper {
                @include breakPoint_over-PC {
                  display: none; ///////////// 4階層は非表示
                }
                > .gnl_inner {
                  ul {
                    li {
                      .gnl_title {
                        min-height: auto;
                        &::before {
                        }
                        &::after {
                        }
                      }
                      .gnl_button {
                        span {
                        }
                        & + a {
                          &::after {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      ///////////// 3階層
      .gnl_button {
        span {
        }
      }
    }
    ///////////// 階層別
  }
  .gn_links-02 {
    @include breakPoint_over-PC {
      order: 1;
      flex-wrap: nowrap;
      align-items: center;
      padding-right: 200px;
      height: 50px;
      pointer-events: auto;
    }
    li {
      @include breakPoint_over-PC {
        border-right: none;
        border-bottom: none;
        width: auto;
      }
      & + li {
        @include breakPoint_over-PC {
          margin-left: 20px;
        }
      }
      a {
        @include breakPoint_over-PC {
          display: inline;
          padding: 0;
          font-size: 14px;
        }
        span {
        }
      }
    }
  }
  .subMenu{
    @include breakPoint_over-PC {
      display: flex;
      align-items: flex-end;
      gap: 30px;
      height: 44px;
    }
    .button{
      padding: 40px 20px;
      display: grid;
      gap: 10px;
      @include breakPoint_over-PC {
        gap: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        grid-template-columns: 1fr 1fr;
      }
      .module_button-icon{
        @include breakPoint_over-PC {
          min-height: 110px;
          width: 134px;
          display: flex;
          flex-flow: column;
          gap: 5px;
          text-align: center;
          justify-content: center;
          border-radius: 0;
          padding: 5px;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.5px;
        }
        .icon{
          @include breakPoint_over-PC {
            justify-content: center;
          }
        }
        .en{
          display: none;
          @include breakPoint_over-PC {
            display: inline;
            font-family: Marcellus;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.6px;
          }
        }
        .arrow{
          @include breakPoint_over-PC {
            display: none;
          }
        }
        &._blue{
          @include breakPoint_over-PC {
            display: none;
          }
        }
      }
    }
    > .en{
      display: flex;
      justify-content: center;
      @include breakPoint_over-PC {
        height: 100%;
        align-items: end;
      }
      a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        min-width: 200px;
        min-height: 45px;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #D6DFE8;
        color: $color-text;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1em;
        letter-spacing: 0.8px;
        transition: $transition-duration;
        &:hover{
          opacity: .7;
        }
        @include breakPoint_over-PC{
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.6px;
          min-width: auto;
          min-height: auto;
          border: none;
          padding: 6px 0;
        }
      }
    }
    .menu{
      margin-top: 40px;
      @include breakPoint_over-PC {
        display: none;
      }
      .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
          position: relative;
          & + li{
            padding-left: 40px;
            &::before{
              content: '';
              display: inline-block;
              width: 1px;
              height: 14px;
              background-color: $color-text;
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
            }
          }
          a{
            display: inline-flex;
            gap: 10px;
            align-items: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: 1.4px;
            color: $color-text;
            .icon{
              display: flex;
            }
          }
        }
      }
    }
    .pcMenu{
      display: none;
      @include breakPoint_over-PC {
        display: block;
      }
      .list{
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid #D6DFE8;
        background-color: #F6F7FB;
        border-radius: 40px;
        padding: 5px 20px;
        li{
          display: flex;
          a{
            display: inline-flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.6px;
            text-decoration: none;
            color: $color-text;
            transition: $transition-duration;
            &:hover{
              opacity: .7;
            }
            i{
              display: flex;
            }
          }
        }
      }
    }
  }
  .gn_search {
    @include breakPoint_over-PC {
      position: absolute;
      top: 8px;
      right: 40px;
      margin-top: 0;
      width: 180px;
      height: 34px;
      pointer-events: auto;
    }
    .gns_form {
      input {
        &[type='search'] {
          float: right;
          border: 1px solid $color-gray-border;
          padding: 20px 50px 20px 20px;
          width: 100%;
          height: 50px;
          background-color: $color-secondary;
          @include breakPoint_over-PC {
            padding: 5px 34px 5px 10px;
            height: 34px;
            font-size: 14px;
          }
        }
      }
      button {
        &[type='submit'] {
          @include breakPoint_over-PC {
            width: 34px;
            height: 34px;
            line-height: 34px;
          }
          span {
          }
          &:hover,
          &:focus {
            &::before {
            }
          }
        }
      }
    }
  }
  .gn_close {
    display: block;
    position: relative;
    min-width: 150px;
    margin: 50px auto 0;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: $color-primary;
    color: $color-secondary;
    line-height: 1.3;
    @include breakPoint_over-PC {
      display: none;
    }
    span {
    }
  }
}
#overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  visibility: hidden;
  transition: $transition-duration;
  body._open-bg & {
    visibility: visible;
    background-color: rgba(10, 35, 65, 0.70);
    transition: $transition-duration;
  }
}
// ==========================================================================
// サイト共通ラッパー
// ==========================================================================
.global_wrapper {
  overflow: hidden;
  @include breakPoint_over-PC {
  }
}
// ==========================================================================
// メインビジュアル
// ==========================================================================
.top_mainVisual {
  position: relative;
  overflow-x: hidden;
  .tm_swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        .tm_background {
          position: relative;
          overflow: hidden;
          padding-bottom: 375px;
          width: 100%;
          height: 0;
          @include breakPoint_over-PC {
            padding-bottom: 600px;
          }
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            max-width: none;
            max-height: none;
            width: auto;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            @include breakPoint_over-SP {
              width: 100%;
              height: auto;
            }
            @include breakPoint_over-PC {
              min-width: 100%;
              min-height: 100%;
              width: auto;
              height: 100%;
            }
            @include breakPoint_original-min(1380px) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    .global_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .tm_title {
      font-size: 30px;
      font-weight: 700;
      color: $color-secondary;
      text-align: center;
    }
    .swiper-pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 345px;
      transform: translateX(-50%);
      @include breakPoint_over-PC {
        top: auto;
        bottom: 20px;
      }
      .swiper-pagination-bullet {
        opacity: 1;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        background-color: $color-secondary;
        transition: background-color $transition-duration;
        &:hover,
        &-active {
          background-color: $color-primary;
        }
      }
    }
  }
}
// ==========================================================================
// サイト共通メインビジュアル
// ==========================================================================
.global_mainVisual {
  position: relative;
  overflow: hidden;
  color: $color-secondary;
  transition: height $transition-duration;
  background-image: url('#{$imageDir}common/pagetitle_sp.webp');
  background-size: cover;
  margin-bottom: 40px;
  @include breakPoint_over-PC {
    min-height: 300px;
    background-image: url('#{$imageDir}common/pagetitle.webp');
    margin-bottom: 80px;
  }
  .global_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    height: inherit;
    min-height: 200px;
    @include breakPoint_over-PC {
      min-height: 300px;
    }
  }
  .gm_background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
      background-color: rgba($color-primary, 0.2);
    }
  }
  .gm_box{
    color: $color-primary;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    @include breakPoint_over-PC {
      gap: 20px;
      padding: 40px 0;
    }
  }
  .gm_title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    letter-spacing: 2.8px;
    background: linear-gradient(90deg, var(--Color-Foreground-blue--01, #164073) 0%, var(--Color-Foreground-blue--02, #3C6FAC) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include breakPoint_over-PC {
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }
  .gm_subTitle{
    font-family: Marcellus;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3; /* 16px */
    letter-spacing: 0.8px;
    display: grid;
    grid-template-columns: 21px auto 21px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #3C6FAC;
    text-transform: capitalize;
    @include breakPoint_over-PC{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
      letter-spacing: 1px;
      grid-template-columns: 26px auto 26px;
    }
    .icon{
      display: flex;
      align-items: center;
      gap: 2px;
      &._left{
        &::after{
          content: "";
          width: 10px;
          height: 1px;
          background-color: #3C6FAC;
          @include breakPoint_over-PC {
            width: 15px;
          }
        }
      }
      &._right{
        &::before{
          content: "";
          width: 10px;
          height: 1px;
          background-color: #3C6FAC;
          @include breakPoint_over-PC {
            width: 15px;
          }
        }
      }
      svg{
        path{
          fill: #3C6FAC;
        }
      }
    }
  }
}
// ==========================================================================
// サイト共通コンテンツ
// ==========================================================================
.global_contents {
  > section {
    body:not(.home) & {
      padding-bottom: 50px;
      @include breakPoint_over-PC {
        padding-bottom: 100px;
      }
    }
    .global_mainVisual {
    }
    .module_breadCrumb {
      body:not(.home) & {
      }
    }
    > .global_inner,
    > .content_inner {
      body:not(.home) & {
        min-height: 1%; //IE用flexバグ対策（flexでパンくず並び替える場合は必要）
      }
    }
  }
  .gc_main {
    width: 100%;
    @include breakPoint_over-PC {
      max-width: $width-main;
      width: calc(100% - #{$width-side});
    }
    &._oneColumn {
      @include breakPoint_over-PC {
        max-width: none;
        width: 100%;
      }
    }
  }
  .gc_sub {
    margin-top: 60px;
    @include breakPoint_over-PC {
      margin-top: 0;
      width: #{$width-side};
    }
  }
}
// ==========================================================================
// サイト共通フッター
// ==========================================================================
.global_footer {
  position: relative;
  background-color: #F6F7FB;
  color: $color-text;
  padding-bottom: 58px;
  @include breakPoint_over-PC {
    padding: 80px 0 0;
  }
  a {
    text-decoration: none;
  }
  .global_inner {
    position: relative;
  }
  .gf_links-wrap {
    display: none;
    @include breakPoint_over-PC {
      display: block;
    }
    .global_inner{
      display: grid;
      align-items: start;
      grid-template-columns: 1fr 280px;
      gap: 60px;
    }
    .main{
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 60px;
    }
    .sub{
      display: grid;
      gap: 10px;
    }
  }
  .gf_links-01 {
    @include breakPoint_over-PC {
      column-count: 3;
      column-gap: 60px;
      display: block; 
      margin: 0;
    }
    ///////////// 共通
    ///////////// 全階層に影響あり
    li {
      [class*='gfl_title'] {
        @include breakPoint_over-PC {
          padding: 0;
          width: 100%;
          min-height: auto;
        }
        &::after {
          @include breakPoint_over-PC {
            content: none;
          }
        }
        &:hover {
          @include breakPoint_over-PC {
            opacity: .7;
          }
        }
        &._open {
        }
      }
      [class*='gfl_button'] {
        @include breakPoint_over-PC {
          display: none;
        }
        &::before,
        &::after {
        }
        &::after {
        }
        span {
        }
        & + a {
          @include breakPoint_over-PC {
            width: 100%;
          }
          &::after {
          }
        }
        &._open {
          &::after {
          }
        }
      }
      ///////////// 全階層に影響あり
      ///////////// 3階層以降に影響あり
      [class*='gfl_wrapper'] {
        @include breakPoint_over-PC {
          display: block;
        }
        [class*='gfl_inner'] {
          ul {
            @include breakPoint_over-PC {
              border-top: none;
            }
            li {
              [class*='gfl_title'] {
                &::before {
                }
                &::after {
                }
              }
              [class*='gfl_button'] {
                span {
                }
                & + a {
                  &::after {
                  }
                }
              }
            }
          }
        }
      }
      ///////////// 3階層以降に影響あり
    }
    ///////////// 共通
    ///////////// 階層別
    > li {
      @include breakPoint_over-PC {
        break-inside: avoid;
        -webkit-column-break-inside: avoid; /* Safari/Chrome 用の旧プロパティ */
        -moz-column-break-inside: avoid;

      }
      & + li {
        margin-bottom: 20px;
      }
      > .gfl_title {
        @include breakPoint_over-PC {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.6px;
        }
        &::before {
          @include breakPoint_over-PC {
            content: none;
          }
        }
      }
      ///////////// 3階層
      > .gfl_wrapper {
        @include breakPoint_over-PC {
          margin-top: 20px;
        }
        > .gfl_inner {
          > ul {
            @include breakPoint_over-PC {
              display: grid;
              gap: 10px;
            }
            > li {
              @include breakPoint_over-PC {
                border-bottom: none;
              }
              > .gfl_title {
                @include breakPoint_over-PC {
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  letter-spacing: 0.65px;
                  padding: 0 0 0 13px;
                  min-height: auto;
                }
                &::before{
                  @include breakPoint_over-PC {
                    @include icon-star;
                    position: absolute;
                    top: 5px;
                    left: 0;
                  }
                }
              }
              > .gfl_wrapper {
                @include breakPoint_over-PC {
                }
                > .gfl_inner {
                  @include breakPoint_over-PC {
                    padding: 10px 0 0 14px;
                  }
                  > ul {
                    @include breakPoint_over-PC {
                      display: grid;
                      gap: 10px;
                    }
                    > li {
                      border-bottom: none;
                      > .gfl_title {
                        @include breakPoint_over-PC {
                          font-size: 13px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: normal;
                          letter-spacing: 0.65px;
                          min-height: auto;
                          background-color: transparent;
                          padding: 0 0 0 12px;
                        }
                        &::before{
                          @include breakPoint_over-PC {
                            content: "";
                            width: 7px;
                            height: 1px;
                            background-color: $color-primary;
                            position: absolute;
                            top: 9px;
                            left: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      ///////////// 3階層
      .gfl_button {
        span {
        }
      }
    }
    ///////////// 階層別
  }
  .gf_links-02 {
    @include breakPoint_over-PC {
      display: grid;
      gap: 20px;
    }
    li {
      @include breakPoint_over-PC {
        border: none;
        width: 100%;
      }
      a {
        @include breakPoint_over-PC {
          padding: 0;
          min-height: auto;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.7px;
          transition: $transition-duration;
        }
        &:hover {
          @include breakPoint_over-PC {
            opacity: .7;
          }
        }
        span {
        }
      }
    }
  }
  .gf_information {
    padding: 40px 0;
    @include breakPoint_over-PC {
      padding: 60px 0;
    }
    .global_inner{
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px 0;
      @include breakPoint_over-PC{
        display: flex;
        justify-content: center;
        gap: 0 60px;
      }
    }
    .logo{
      .gf_logo {
        text-align: center;
        a {
          display: inline-block;
          @include hover-opacity();
          img {
            width: 224px;
          }
        }
      }
      .sns{
        margin-top: 10px;
        .list{
          display: flex;
          justify-content: center;
          gap: 20px;
          li{
            display: flex;
            a{
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px; /* 153.846% */
              letter-spacing: 1.3px;
              text-decoration: none;
              color: $color-text;
              @include hover-opacity();
              .icon{
                display: flex;
              }
            }
          }
        }
      }
    }
    address {
      .gf_address {
        a {
        }
      }
      .gf_tel {
        span {
        }
      }
    }
  }
  .gf_copyright {
    padding: 14px 0;
    background-color: $color-primary;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    color: $color-secondary;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakPoint_over-PC{
      font-family: Marcellus;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.4px;
      padding: 14px 0;
      justify-content: flex-start;
      text-align: left;
      min-height: 58px;
    }
    .global_inner{
      @include breakPoint_over-PC{
        display: flex;
      }
    }
    .menu{
      display: none;
      @include breakPoint_over-PC{
        display: block;
        margin-left: auto;
      }
      a{
        display: inline-block;
        text-decoration: none;
        color: $color-secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.6px;
        @include hover-opacity();
      }
    }
  }
  .gf_pageTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    a {
      display: block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: $color-primary;
      &::before {
        content: '\f106';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include font-awesome();
        color: $color-secondary;
        transform: translate(-50%, -50%);
      }
      &:hover {
      }
      span {
        display: none;
      }
    }
  }
}
// ==========================================================================
// サイト共通ローカルナビ
// ==========================================================================
.local_navigation {
  .ln_links-01 {
    border-top: none;
    & + .ln_links-01 {
      margin-top: 48px;
    }
    > li {
      border-bottom: none;
      body.page & {
        display: none;
        &._parent {
          display: block;
        }
      }
      ///////////// 2階層目
      > .lnl_title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $color-secondary;
        padding: 30px 15px 20px;
        background-color: #3C6FAC;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 16px */
        letter-spacing: 1.6px;
        transition: $transition-duration;
        @include breakPoint_over-PC {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 18px */
          letter-spacing: 1.8px;
        }
        &:hover{
          opacity: .7;
        }
        body:not(.page) & {
          @include breakPoint_over-PC {
            pointer-events: none;
          }
        }
        &::before{
          content: none;
        }
        .en{
          text-align: center;
          font-family: Marcellus;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.6px;
          margin-top: 5px;
          @include breakPoint_over-PC {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.6px;
            margin-top: 10px;
          }
        }
        .icon{
          margin-top: 10px;
          display: flex;
          justify-content: center;
          gap: 3px;
        }
      }
      ///////////// 2階層目
      ///////////// 3階層目
      > .lnl_wrapper {
        display: block !important;
        @include breakPoint_over-PC {
          display: block !important;
        }
        > .lnl_inner {
          > ul {
            border-left: 1px solid #3C6FAC;
            border-right: 1px solid #3C6FAC;
            ///////////// 3階層目
            ///////////// 3階層以降に影響あり
            > li {
              border-bottom: 1px solid #3C6FAC;
              > .lnl_button {
                transition: background-color $transition-duration;
                width: 44px;
                &::before,
                &::after {
                  background-color: $color-primary;
                  width: 18px;
                  height: 2px;
                  left: calc(50% - 8px);
                }
                &:hover {
                  background-color: #F6F7FB;
                }
                &._open {
                  background-color: #F6F7FB;
                  & + .lnl_title {
                    background-color: #F6F7FB;
                    color: $color-primary;
                  }
                }
                & + .lnl_title {
                  &::after {
                  }
                }
                span {
                }
                & + .lnl_title {
                  width: calc(100% - 44px);
                }
              }
              > .lnl_title {
                min-height: 60px;
                padding: 15px 15px 15px 28px;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.65px;
                @include breakPoint_over-PC {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  letter-spacing: 0.7px;
                }
                &._current {
                  background-color: #F6F7FB;
                  color: $color-primary;
                  &::after {
                  }
                }
                span{
                  position: relative;
                  display: inline-block;
                  &::before {
                    @include icon-star;
                    position: absolute;
                    top: 6px;
                    left: -13px;
                  }
                }
                &::after {
                  content: none;
                }
                &:hover {
                  background-color: #F6F7FB;
                  color: $color-primary;
                }
              }
              ///////////// 3階層以降に影響あり
              ///////////// 4階層目
              .lnl_wrapper {
                .lnl_inner {
                  padding: 0;
                  ul {
                    li {
                      .lnl_title {
                        background-color: transparent;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.65px;
                        padding: 10px 15px;
                        &._current {
                          background-color: #F6F7FB;
                          color: $color-primary;
                        }
                        &::before{
                          content: none;
                        }
                        &::after {
                          content: none;
                        }
                        &:hover {
                          background-color: #F6F7FB;
                          color: $color-primary;
                        }
                      }
                    }
                  }
                }
              }
              ///////////// 4階層目
            }
          }
        }
      }
    }
  }
}
// ==========================================================================
// サイト共通アーカイブナビ
// ==========================================================================
.archive_navigation {
  @include breakPoint_over-PC {
    display: flex;
    justify-content: flex-end;
  }
  .an_links-01 {
    border-top: none;
    @include breakPoint_over-PC {
      width: 250px;
    }
    & + .an_links-01 {
      margin: 10px 0 0;
      @include breakPoint_over-PC {
        margin: 0 0 0 10px;
      }
    }
    > li {
      position: relative;
      border-bottom: none;
      body.page & {
        display: none;
        &._parent {
          display: block;
        }
      }
      ///////////// 2階層目
      > .anl_title {
        justify-content: flex-start;
        padding: 19px 40px 19px 20px;
        border: 1px solid $color-primary;
        background-color: $color-primary;
        font-weight: 700;
        color: $color-secondary;
        text-align: left;
        cursor: pointer;
        &._open {
          &::after {
            transform: rotate(-180deg);
          }
        }
        &::after {
          content: '\f078';
          top: calc(50% - 6px);
          right: 20px;
          transform: none;
          transition: $transition-duration;
        }
      }
      ///////////// 2階層目
      ///////////// 3階層目
      > .anl_wrapper {
        @include breakPoint_over-PC {
          position: absolute;
          top: 60px;
          left: 0;
          z-index: 2;
        }
        > .anl_inner {
          > ul {
            border: 1px solid $color-gray-border;
            background-color: $color-secondary;
            ///////////// 3階層目
            ///////////// 3階層以降に影響あり
            li {
              .anl_button {
                transition: background-color $transition-duration;
                &::before,
                &::after {
                }
                &:hover {
                  background-color: $color-tertiary;
                }
                &._open {
                }
                & + .anl_title {
                  &::after {
                  }
                }
                span {
                }
              }
              .anl_title {
                padding: 20px;
                color: $color-text;
                &._current {
                  font-weight: 700;
                  &::after {
                  }
                }
                &::before {
                }
                &::after {
                  content: none;
                }
                &:hover {
                  background-color: $color-tertiary;
                }
              }
              ///////////// 3階層以降に影響あり
              ///////////// 4階層目
              .anl_wrapper {
                .anl_inner {
                  ul {
                    li {
                      .anl_title {
                        &._current {
                        }
                        &::after {
                        }
                        &:hover {
                        }
                      }
                    }
                  }
                }
              }
              ///////////// 4階層目
            }
          }
        }
      }
    }
  }
}
// ==========================================================================
// トップモジュール
// ==========================================================================
.top_title-01 {
  margin-bottom: 30px;
  .title-main,
  .title-sub {
    display: block;
    text-align: center;
  }
  .title-main {
    font-size: 30px;
    font-weight: 700;
  }
  .title-sub {
    color: $color-gray-border;
  }
}
.top_button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.top_button-01 {
  @extend %module_button;
  border-color: $color-text;
  background-color: $color-text;
  color: $color-secondary;
  &:hover {
    background-color: $color-secondary;
    color: $color-text;
  }
}
.top_notice-01 {
  padding-top: 50px;
  @include breakPoint_over-PC {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 10;
    padding-top: 0;
    width: 100%;
  }
  .notice {
    @include breakPoint_over-PC {
      display: flex;
    }
    .head {
      padding: 15px 20px;
      background-color: $color-primary;
      @include breakPoint_over-PC {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
      }
      .title {
        font-weight: 700;
        color: $color-secondary;
        text-align: center;
      }
    }
    .body {
      padding: 15px 20px;
      background-color: $color-tertiary;
      @include breakPoint_over-PC {
        width: calc(100% - 200px);
      }
      ul {
        li {
          & + li {
            margin-top: 10px;
          }
          .date {
            color: $color-primary;
            time {
            }
          }
          .text {
          }
        }
      }
    }
  }
}
.top_news-01 {
  padding: 80px 0;
}
.top_news-02 {
  padding: 80px 0;
}
.top_banner-01 {
  padding: 60px 0;
  .list {
    @include breakPoint_over-PC {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      position: relative;
      @include breakPoint_over-PC {
        margin-right: 40px;
        width: calc(100% / 4 - 120px / 4 - 0.1px);
      }
      & + li {
        margin-top: 30px;
        @include breakPoint_over-PC {
          margin-top: 0;
        }
      }
      &:nth-child(4n) {
        @include breakPoint_over-PC {
          margin-right: 0;
        }
      }
      &:nth-child(n + 5) {
        @include breakPoint_over-PC {
          margin-top: 40px;
        }
      }
      &._noImage {
        a {
          background-color: $color-gray-border;
          &::before {
            content: '';
            display: block;
            padding-bottom: calc(80 / 265 * 100%);
            width: 100%;
            height: 0;
          }
        }
      }
      a {
        display: block;
        @include hover-opacity();
        &[target='_blank'] {
          .title {
            &::after {
              @include font-awesome();
              @include icon-blank;
            }
          }
        }
        &._disabled {
          pointer-events: none;
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        padding-bottom: calc(80 / 265 * 100%);
        width: 100%;
        height: 0;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: auto;
          transform: translate(-50%, -50%);
        }
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        color: $color-secondary;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

// ==========================================================================
//  ブロックエディタ用モーダル
// ==========================================================================
.wp-lightbox-overlay img {
  width: 100% !important;
  height: auto !important;
  object-fit: contain !important; /* 必要に応じて cover → contain に変更 */
}

.global_banner{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include breakPoint_over-PC {
    display: none;
  }
}