@charset "utf-8";
@use '../functions/functions' as *;
@use 'sass:math';
@use 'sass:color';
//
// コンポーネント用CSS
// @extendで呼び出す用の小コンポーネント（ボタンなど）を記述
//
// ==========================================================================
// 余白コンポーネント
// ==========================================================================
%inner {
  position: relative;
  padding: 0 $padding-SP;
  width: 100%;
  transition: padding $transition-duration;
  @include breakPoint_over-PC {
    margin: 0 auto;
    padding: 0 $padding-TB;
  }
}
// ==========================================================================
// アイコンコンポーネント
// ==========================================================================
%before-faq {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: $color-secondary;
  line-height: 36px;
  text-align: center;
}
%icon-modal {
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 30px;
    height: 30px;
    @include breakPoint_over-TB {
      width: 50px;
      height: 50px;
    }
  }
  &::before {
    background-color: $color-primary;
  }
  &::after {
    content: '\f002';
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-awesome(500);
    color: $color-secondary;
  }
}
// ==========================================================================
// ラベルコンポーネント
// ==========================================================================
%label {
  display: inline-block;
  border: 1px solid $color-primary;
  padding: 0 0.5em;
}
// ==========================================================================
// ボタンコンポーネント
// ==========================================================================
%module_button {
  display: block;
  position: relative;
  padding: 15px 50px;
  border: 1px solid $color-primary;
  border-radius: 3em;
  max-width: 240px;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  transition:
    background-color $transition-duration,
    color $transition-duration;
  @include breakPoint_over-PC {
    max-width: 100%;
    width: auto;
  }
  span {
    display: block;
  }
}
%module_button-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $header_height-SP;
  height: $header_height-SP;
  background-color: transparent;
  color: $color-secondary;
  background-color: $color-primary;
  @include breakPoint_over-PC {
    display: none;
  }
  .icon {
    width: 100%;
  }
  i {
    width: 100%;
  }
  &.gh_menu {
    .icon {
      display: block;
      position: relative;
      top: auto;
      width: 20px;
      height: 1px;
      background-color: $color-secondary;
      transition: $transition-duration;
      body._open-menu & {
        background-color: transparent;
      }
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        transition: $transition-duration;
        background-color: $color-secondary;
      }
      &::before {
        top: -6px;
        body._open-menu & {
          top: 0;
          transform: rotate(45deg);
        }
      }
      &::after {
        top: 6px;
        body._open-menu & {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
    i {
      margin-top: 20px;
      font-size: 10px;
    }
  }
}
%module_zoom-button {
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-secondary;
    font-size: 18px;
    transition: $transition-duration;
    @include font-awesome(400);
    @include icon-zoom;
  }
  @include hover {
    &::after {
      opacity: 0.8;
      // background-color: $color-secondary;
      // color: $color-primary;
    }
  }
}
// ==========================================================================
// インプットコンポーネント
// ==========================================================================
%module_input {
  border: 1px solid $color-gray-background;
  padding: 0.5em 1em;
  width: 100%;
  height: 50px;
  background-color: $color-gray-background;
  font-size: 16px;
  transition:
    border-color $transition-duration,
    background-color $transition-duration;
  &:hover {
    border-color: $color-primary !important;
  }
  &:focus {
    border-color: $color-primary !important;
    background-color: $color-secondary;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $color-secondary inset;
  }
  &[readonly='readonly'],
  &[readonly],
  form.custom-wpcf7c-confirmed:not([novalidate='novalidate']) & {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #000;
  }
}
// ==========================================================================
// タイトルコンポーネント
// ==========================================================================
%module_title {
  font-weight: 700;
}
// ==========================================================================
// 埋め込み系コンポーネント
// ==========================================================================
%module_iframe {
  position: relative;
  overflow: hidden;
  padding: 0 0 56.25%;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
// ==========================================================================
// リストコンポーネント
// ==========================================================================
%module_list {
  li {
    position: relative;
    padding-left: 30px;
    &::before {
      content: '';
      position: absolute;
    }
    .module_column-col1._left & {
      display: flex;
      flex-direction: column;
    }
    & + li {
      margin-top: 10px;
    }
    ul,
    ol {
      li {
        &:first-child {
          margin-top: 0.5em;
        }
      }
    }
  }
}
// ==========================================================================
// 表コンポーネント
// ==========================================================================
%module_table {
  height: auto !important;
  border-left: 1px solid $color-gray-border-02;
  border-right: 1px solid $color-gray-border-02;
  @include breakPoint_over-PC {
    width: 100% !important;
  }
  thead,
  tbody,
  tfoot {
    width: 100%;
  }
  tr {
    &:first-child {
      th,
      td {
        border-top: 1px solid $color-gray-border-02;
      }
    }
    th,
    td {
      border-bottom: 1px solid $color-gray-border-02;
      padding: 1em;
      min-width: 8em;
      @include breakPoint_over-PC {
        min-width: auto;
        padding: 16px 32px;
      }
      & + th,
      & + td {
        border-left: 1px solid $color-gray-border-02;
      }
    }
    th {
      background-color: $color-primary;
      color: $color-secondary;
      text-align: center;
    }
    td {
      background-color: $color-secondary;
    }
  }
}
// ==========================================================================
// カラムコンポーネント
// ==========================================================================
%module_column {
  display: flex;
  @include breakPoint_over-PC {
    justify-content: space-between;
  }
  img {
    width: 100%;
    @include breakPoint_over-PC {
      width: auto;
    }
  }
}

// ==========================================================================
// ファイルの種別アイコン
// ==========================================================================
%module_file-type-icon {
  &[target='_blank'] {
    &::after {
      @include icon-blank;
      margin-left: 4px;
      margin-bottom: 2px;
    }
  }
  &[href$='.pdf'] {
    &::after {
      @include font-awesome(300);
      @include icon-pdf;
      margin-left: 4px;
    }
  }
  &[href$='.doc'],
  &[href$='.docx'],
  &[href$='.docm'],
  &[href$='.xls'],
  &[href$='.xlsx'],
  &[href$='.xlsm'],
  &[href$='.png'],
  &[href$='.jpg'],
  &[href$='.jpeg'],
  &[href$='.gif'],
  &[href$='.webp'] {
    &::after {
      @include font-awesome(300);
      @include icon-file;
      margin-left: 4px;
    }
  }
}
